/target
/classes
/checkouts
/bin
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.boot
.nrepl-history
.repl
node_modules
.idea
.project
lupapiste_toj.iml
*-init.clj
.vagrant
karma-test-results.xml
.out
build.xml
test2junit
resources/public/out
.log
resources/public/main.js
resources/public/main.js.map
*.iml
sessionkey
figwheel_server.log
toj.log
.DS_Store
.rebel_readline_history
.clj-kondo/
