@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* baseline & margins */
html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  /* Inflate text size on mobiles by full increments only */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.main-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 175px 20px 0 20px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}
.loading {
  font-size: 48px;
  color: #e8a645;
  text-align: center;
}
.sprite-bg {
  background-image: url('../img/icons-sprite-1.17.png');
  background-repeat: no-repeat;
}
.icon,
.icon-small,
.icon-tiny,
.icon-large,
.ui-icon {
  display: inline-block;
  background-image: url('../img/icons-sprite-1.17.png');
  background-repeat: no-repeat;
  overflow: hidden;
}
.icon {
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.icon.inline-left {
  margin-right: 6px;
  float: left;
  margin-top: 6px;
}
.icon.inline-right {
  margin-right: 6px;
  float: right;
  margin-top: 6px;
}
.icon.document-orange {
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon.logout {
  background-position: 0px -100px;
  width: 24px;
  height: 24px;
}
.icon.person-orange {
  background-position: 0px -200px;
  width: 24px;
  height: 24px;
}
.icon.drill-down-orange {
  background-position: 0px -300px;
  width: 18px;
  height: 18px;
}
.icon.drill-right-orange {
  background-position: 0px -400px;
  width: 12px;
  height: 12px;
}
.icon.drill-right-grey {
  background-position: 0px -500px;
  width: 12px;
  height: 12px;
}
.icon.drill-right-black {
  background-position: 0px -600px;
  width: 12px;
  height: 12px;
}
.icon.drill-right-white {
  background-position: 0px -700px;
  width: 12px;
  height: 12px;
}
.icon.drill-down-grey {
  background-position: 0px -800px;
  width: 12px;
  height: 12px;
}
.icon.drill-down-white {
  background-position: 0px -900px;
  width: 12px;
  height: 12px;
}
.icon.drill-down-black {
  background-position: 0px -5700px;
  width: 12px;
  height: 12px;
}
.icon.drill-left-grey {
  background-position: 0px -1600px;
  width: 12px;
  height: 12px;
}
.icon.drill-left-black {
  background-position: 0px -1700px;
  width: 12px;
  height: 12px;
}
.icon.drill-left-all-black {
  background-position: 0px -2000px;
  width: 10px;
  height: 12px;
}
.icon.drill-left-black-bigger {
  background-position: 0px -3100px;
  width: 12px;
  height: 12px;
}
.icon.add {
  background-position: 0px -2200px;
  width: 15px;
  height: 15px;
}
.icon.search {
  background-position: 0px -2300px;
  width: 14px;
  height: 14px;
}
.icon.missing {
  background-position: 0px -2400px;
  width: 16px;
  height: 16px;
}
.icon.ok {
  background-position: 0px -2500px;
  width: 16px;
  height: 16px;
}
.icon.info-indicator {
  background-position: 0px -2600px;
  width: 16px;
  height: 16px;
}
.icon.remove {
  background-position: 0px -2700px;
  width: 15px;
  height: 15px;
}
.icon.wait {
  background-position: 0px -2800px;
}
.icon.help {
  background-position: 0px -2900px;
  width: 30px;
  height: 32px;
  overflow: visible;
}
.icon.new {
  background-position: 0px -3000px;
  width: 16px;
  height: 16px;
}
.icon.print {
  background-position: 0px -3500px;
  width: 16px;
  height: 15px;
}
.icon.send {
  background-position: 0px -3600px;
  height: 15px;
  width: 17px;
}
.icon.approve {
  background-position: 0px -3700px;
  height: 17px;
  width: 17px;
}
.icon.stamp {
  background-position: 0px -3800px;
  height: 16px;
  width: 16px;
}
.icon.add-grey {
  background-position: 0px -3900px;
  height: 16px;
  width: 16px;
}
.icon.complement {
  background-position: 0px -4000px;
  height: 16px;
  width: 16px;
}
.icon.remove-grey {
  background-position: 0px -4100px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.icon.edit {
  background-position: 0px -4200px;
  cursor: pointer;
}
.icon.refresh-grey {
  background-position: 0px -4697px;
  width: 16px;
  height: 16px;
}
.icon.signed {
  background-position: 0px -4900px;
  width: 18px;
  height: 18px;
}
.icon.signed-white {
  background-position: 0px -5800px;
  width: 16px;
  height: 16px;
}
.icon.stamped {
  background-position: 0px -5000px;
  height: 18px;
  width: 18px;
}
.icon.transfered {
  background-position: 0px -5100px;
  height: 17px;
  width: 25px;
}
.icon.mark-seen {
  background-position: 0px -5200px;
  width: 25px;
  height: 15px;
}
.icon.urgent {
  width: 24px;
  height: 24px;
  background-position: 0px -5300px;
}
.icon.hold {
  width: 24px;
  height: 24px;
  background-position: 0px -5500px;
}
.icon.verdict-attachment {
  width: 8px;
  height: 18px;
  background-position: 0px -5900px;
}
.icon.scroll-up {
  background-position: 0px -6100px;
  width: 24px;
  height: 19px;
}
@media (max-width: 1190px) {
  .narrow-hide {
    display: none;
  }
}
.nav-wrapper {
  width: 100%;
}
.nav-box {
  width: 100%;
  max-width: 1660px;
  min-width: 640px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
nav {
  position: fixed;
  top: 0;
  z-index: 2002;
  box-sizing: border-box;
  width: 100%;
}
nav .nav-top {
  width: 100%;
  background-color: #333333;
  display: block;
  clear: both;
  box-sizing: border-box;
  overflow: hidden;
}
nav .brand {
  position: relative;
  width: 188px;
  display: inline-block;
  float: left;
}
nav .brand a img {
  float: left;
  width: 164px;
  height: 35px;
  margin: 12px;
}
nav .language-closed {
  background-color: inherit;
  display: inline-block;
  margin: 0;
  float: left;
}
nav .language-closed a {
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .language-closed a:link,
nav .language-closed a:visited {
  color: #f7ac2e;
  text-decoration: none;
}
nav .language-closed a:link span,
nav .language-closed a:visited span {
  color: #f7ac2e;
}
nav .language-closed a:hover,
nav .language-closed a:active {
  color: white;
  background-color: #555555;
}
nav .language-closed a:hover span,
nav .language-closed a:active span {
  color: white;
}
nav .language-closed a span {
  vertical-align: middle;
}
nav .language-closed a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
nav .language-closed a,
nav .language-closed span {
  vertical-align: middle;
  line-height: 60px;
  text-transform: uppercase;
  overflow: hidden;
}
nav .language-open {
  background-color: #555555;
  display: inline-block;
  margin: 0;
  float: left;
}
nav .language-open a {
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .language-open a:link,
nav .language-open a:visited {
  color: white;
  text-decoration: none;
}
nav .language-open a:link span,
nav .language-open a:visited span {
  color: white;
}
nav .language-open a:hover,
nav .language-open a:active {
  color: #f7ac2e;
  background-color: #555555;
}
nav .language-open a:hover span,
nav .language-open a:active span {
  color: #f7ac2e;
}
nav .language-open a span {
  vertical-align: middle;
}
nav .language-open a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
nav .language-open a,
nav .language-open span {
  vertical-align: middle;
  line-height: 60px;
  text-transform: uppercase;
  overflow: hidden;
}
nav .header-menu {
  display: inline-block;
  position: absolute;
  right: 20px;
}
nav .header-menu .header-box {
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  height: 60px;
}
nav .header-menu .header-box a {
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .header-menu .header-box a:link,
nav .header-menu .header-box a:visited {
  color: #f7ac2e;
  text-decoration: none;
}
nav .header-menu .header-box a:link span,
nav .header-menu .header-box a:visited span {
  color: #f7ac2e;
}
nav .header-menu .header-box a:hover,
nav .header-menu .header-box a:active {
  color: white;
  background-color: inherit;
}
nav .header-menu .header-box a:hover span,
nav .header-menu .header-box a:active span {
  color: white;
}
nav .header-menu .header-box a span {
  vertical-align: middle;
}
nav .header-menu .header-box a {
  max-width: 300px;
}
nav .header-menu .header-box a,
nav .header-menu .header-box span {
  line-height: 60px;
}
.nav-bottom {
  width: 100%;
  background-color: #555555;
  display: block;
  clear: both;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-bottom .language-menu {
  width: 100%;
  clear: both;
  padding-top: 1em;
  padding-left: 208px;
  padding-bottom: .5em;
  background-color: #555555;
}
.nav-bottom .language-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-bottom .language-menu ul li {
  margin-bottom: .5em;
  margin-top: 0;
}
.nav-bottom .language-menu ul li a {
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-bottom .language-menu ul li a:link,
.nav-bottom .language-menu ul li a:visited {
  color: white;
  text-decoration: none;
}
.nav-bottom .language-menu ul li a:link span,
.nav-bottom .language-menu ul li a:visited span {
  color: white;
}
.nav-bottom .language-menu ul li a:hover,
.nav-bottom .language-menu ul li a:active {
  color: #f7ac2e;
  background-color: inherit;
}
.nav-bottom .language-menu ul li a:hover span,
.nav-bottom .language-menu ul li a:active span {
  color: #f7ac2e;
}
.nav-bottom .language-menu ul li a span {
  vertical-align: middle;
}
.editor-container {
  float: right;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
}
.editor {
  background-color: #f5f5f4;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #999999;
}
.node-name {
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
}
.editor-header {
  width: 100%;
  display: table;
  margin: 0 0 15px 0;
  font-size: 20px;
  background-color: #e8a645;
  padding: 15px;
  min-height: 65px;
}
.editor-header div {
  vertical-align: middle;
  display: table-cell;
}
.editor-header div input,
.editor-header div select {
  width: 95%;
  font-size: 16px;
}
.editor-header div .group-title {
  margin-top: -5px;
  display: block;
  font-size: 12px;
  line-height: normal;
  min-height: 5px;
}
.editor-header div .node-title {
  display: block;
  line-height: normal;
}
.editor-header .edit-button-container {
  text-align: right;
  width: 85px;
}
.editor-header .edit-button-container .button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.editor-form {
  padding: 5px 15px 15px 15px;
}
.editor-form select,
.editor-form input {
  width: 100%;
}
.editor-form input[type=checkbox] {
  width: auto;
}
.editor-form .code-input {
  margin-left: 4px;
  width: 60px;
}
.editor-form div {
  margin-bottom: 5px;
}
.editor-form .years-field input {
  width: 50px;
  text-align: right;
}
.editor-form .years-field .year-label {
  margin-left: 5px;
}
.cloning {
  background-color: #d5dfff;
  border-radius: 4px;
  margin: 5px 15px 5px 15px;
  padding: 6px 10px 10px;
}
.cloning select {
  width: 100%;
}
.button {
  cursor: pointer;
}
.invalid-edit {
  border: 2px solid #ff0643;
  border-radius: 2px;
  outline: none;
}
.retention {
  background-color: #e8e8e7;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}
.retention h4 {
  margin-top: 0;
}
.retention h5 {
  font-weight: 700;
  margin-bottom: 5px;
}
.retention-options span {
  margin-right: 10px;
}
.retention-options input {
  width: auto;
  display: inline;
  margin-right: 5px;
}
.retention-options label {
  font-weight: normal;
}
.editor-buttons {
  padding-top: 15px;
}
.editor-buttons .save {
  float: left;
}
.editor-buttons .delete {
  float: right;
}
.tree-container {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  padding-right: 30px;
  font-size: 16px;
  height: 100%;
  overflow: auto;
}
.node .children {
  display: block;
  padding-left: 10px;
  position: relative;
}
.node .tree-expand {
  cursor: pointer;
}
.node .tree-expand:hover {
  border-radius: 12px;
  background-color: #eaeaea;
}
.leaf {
  position: relative;
  padding-left: 42px;
  left: -20px;
  height: 24px;
  overflow: hidden;
}
.leaf .arrow-right {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: #ffffff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #e8a645;
}
.leaf.active {
  background-color: #e8a645;
}
.leaf.active .leaf-text:hover {
  text-decoration: none;
}
.leaf.active .arrow-right {
  display: block;
}
.leaf .icon-plus:hover {
  border-radius: 12px;
  background-color: #eaeaea;
}
.leaf.with-children {
  padding-left: 20px;
}
.leaf-text {
  position: relative;
  display: inline-block;
}
.leaf-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.leaf-text span i {
  font-size: 12px;
}
.editing .leaf-text:hover {
  text-decoration: none;
  cursor: not-allowed;
}
.publisher {
  position: fixed;
  top: 60px;
  z-index: 50;
  background-color: #f6f6f6;
  padding: 5px 0 6px 0;
  width: 100%;
  min-height: 62px;
  font-size: 13px;
}
.publisher .publisher-wrapper {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}
.publisher .right {
  float: right;
}
.publisher .right div {
  margin-top: -6px;
}
.publisher .right span,
.publisher .right input {
  margin-right: 5px;
}
.publisher .right button {
  margin: -2px 0 0 0;
}
.publisher .left {
  float: left;
  margin-right: 10px;
}
.publisher .left span {
  margin-right: 5px;
}
.publisher .left select {
  min-width: 200px;
}
.publisher .left .single-organization {
  line-height: normal;
}
.publisher .download-button {
  margin-top: 17px;
  margin-left: 15px;
}
.publisher .download-button a {
  color: #000000;
  text-decoration: none;
}
.publisher .download-button a span {
  margin-left: 5px;
}
.publisher .download-button a span:hover {
  text-decoration: underline;
}
.publisher h3 {
  margin: 0 0 5px;
  font-size: 14px;
}
@font-face {
  font-family: 'toj';
  src: url('../fonts/toj.eot?55619079');
  src: url('../fonts/toj.eot?55619079#iefix') format('embedded-opentype'), url('../fonts/toj.woff?55619079') format('woff'), url('../fonts/toj.ttf?55619079') format('truetype'), url('../fonts/toj.svg?55619079#toj') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "toj";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-cancel-circled:before {
  content: '\e800';
}
/* '' */
.icon-doc-text:before {
  content: '\e801';
}
/* '' */
.icon-folder:before {
  content: '\e802';
}
/* '' */
.icon-newspaper:before {
  content: '\e803';
}
/* '' */
.icon-attach:before {
  content: '\e804';
}
/* '' */
.icon-pencil:before {
  content: '\e805';
}
/* '' */
.icon-right-dir:before {
  content: '\e806';
}
/* '' */
.icon-down-dir:before {
  content: '\e807';
}
/* '' */
.icon-cog:before {
  content: '\e808';
}
/* '' */
.icon-plus:before {
  content: '\e809';
}
/* '' */
.icon-hourglass:before {
  content: '\e80a';
}
/* '' */
.icon-minus:before {
  content: '\e80b';
}
/* '' */
.icon-users:before {
  content: '\e80c';
}
/* '' */
.icon-spin6:before {
  content: '\e80d';
}
/* '' */
.icon-down-open-big:before {
  content: '\e80e';
}
/* '' */
.icon-up-open-big:before {
  content: '\e80f';
}
/* '' */
.icon-down:before {
  content: '\e810';
}
/* '' */
.icon-up:before {
  content: '\e811';
}
/* '' */
[type=submit],
.btn,
button {
  background: #d0d0d0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 400;
  width: 100px;
  margin: 0 0 6px;
  padding: .25em 1.125em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  border: none;
  color: #303030;
  position: relative;
  min-height: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
[type=submit]:hover,
.btn:hover,
button:hover {
  background: #dddddd;
}
[type=submit]:disabled,
.btn:disabled,
button:disabled,
[type=submit][disabled=disabled],
.btn[disabled=disabled],
button[disabled=disabled],
[type=submit].disabled,
.btn.disabled,
button.disabled,
[type=submit]:disabled:hover,
.btn:disabled:hover,
button:disabled:hover,
[type=submit][disabled=disabled]:hover,
.btn[disabled=disabled]:hover,
button[disabled=disabled]:hover,
[type=submit].disabled:hover,
.btn.disabled:hover,
button.disabled:hover,
[type=submit]:disabled:active,
.btn:disabled:active,
button:disabled:active,
[type=submit][disabled=disabled]:active,
.btn[disabled=disabled]:active,
button[disabled=disabled]:active,
[type=submit].disabled:active,
.btn.disabled:active,
button.disabled:active {
  color: #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f6f6f6;
}
[type=submit].block,
.btn.block,
button.block {
  display: block;
}
[type=submit] span:nth-child(1),
.btn span:nth-child(1),
button span:nth-child(1) {
  max-width: 100px;
  height: auto;
}
[type=submit] span.btn-label,
.btn span.btn-label,
button span.btn-label {
  margin-left: 12px;
}
button[disabled] {
  color: #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f6f6f6;
}
.btn-primary,
.btn-danger {
  text-transform: uppercase;
  color: white;
  text-shadow: none;
  font-weight: normal;
}
.btn-primary {
  background: #e8a645;
}
.btn-primary:hover {
  background: #de901c;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}
.btn-danger {
  background: #ff908d;
}
.btn-danger:hover {
  background: #ff5e5a;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}
.error-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.error-dialog > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #ff908d;
  border-radius: 4px;
  background: #fff;
}
.error-dialog > div .buttons {
  margin-top: 15px;
}
.custom-select {
  display: inline-block;
  position: relative;
  border: 1px solid #ffffff;
  padding: 3px 0 3px 10px;
  min-width: 200px;
  text-align: right;
  float: left;
  margin: -4px 0 0 3px;
}
.custom-select span {
  float: none;
}
.custom-select .options {
  position: absolute;
  top: 32px;
  left: -1px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  border: 1px solid #000000;
  box-sizing: content-box;
  width: 100%;
}
.custom-select .options .option {
  padding: 5px;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  word-break: break-all;
  overflow: hidden;
}
.custom-select .options .option:hover {
  background-color: #e8a645;
  color: #000000;
}
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@font-face {
  font-family: 'lupapiste';
  src: url('../fonts/lupapiste.ttf?umc9sa') format('truetype'), url('../fonts/lupapiste.woff?umc9sa') format('woff'), url('../fonts/lupapiste.svg?umc9sa#lupapiste') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="lupicon-"],
[class*=" lupicon-"] {
  font-family: 'lupapiste';
  speak: none;
  font-style: normal;
  font-size: 22px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="lupicon-"].primary,
[class*=" lupicon-"].primary {
  color: #f39129;
}
.lupicon-circle-question,
.lupicon-remove {
  cursor: pointer;
}
[class^="lupicon-"].no-hand,
[class*=" lupicon-"].no-hand {
  cursor: default;
}
.lupicon-document-section-sign:before {
  content: "\e934";
}
.lupicon-undersign:before {
  content: "\e935";
}
.lupicon-refresh-section-sign:before {
  content: "\e933";
}
.lupicon-user-pen:before {
  content: "\e931";
}
.lupicon-archives-in:before {
  content: "\e932";
}
.lupicon-map:before {
  content: "\e930";
}
.lupicon-grip-diagonal:before {
  content: "\e92c";
}
.lupicon-grip-horizontal:before {
  content: "\e92d";
}
.lupicon-grip-vertical:before {
  content: "\e92e";
}
.lupicon-minus:before {
  content: "\e92f";
}
.lupicon-gear:before {
  content: "\e928";
}
.lupicon-link:before {
  content: "\e929";
}
.lupicon-shopping-cart:before {
  content: "\e92a";
}
.lupicon-viewfinder:before {
  content: "\e92b";
}
.lupicon-heart:before {
  content: "\e927";
}
.lupicon-lock-open-fully:before {
  content: "\e926";
}
.lupicon-document-plus:before {
  content: "\e924";
}
.lupicon-lock-open:before {
  content: "\e925";
}
.lupicon-arrow-down:before {
  content: "\e91e";
}
.lupicon-arrow-left:before {
  content: "\e91f";
}
.lupicon-arrow-right:before {
  content: "\e920";
}
.lupicon-arrow-up:before {
  content: "\e921";
}
.lupicon-copy:before {
  content: "\e922";
}
.lupicon-flag:before {
  content: "\e923";
}
.lupicon-arrows-left-right:before {
  content: "\e91a";
}
.lupicon-arrows-up-down:before {
  content: "\e91b";
}
.lupicon-redo:before {
  content: "\e91c";
}
.lupicon-undo:before {
  content: "\e91d";
}
.lupicon-checkbox-partial:before {
  content: "\e90c";
}
.lupicon-excavator:before {
  content: "\e90d";
}
.lupicon-hammer:before {
  content: "\e90e";
}
.lupicon-helmet:before {
  content: "\e90f";
}
.lupicon-laptop:before {
  content: "\e910";
}
.lupicon-phone:before {
  content: "\e911";
}
.lupicon-stamp:before {
  content: "\e912";
}
.lupicon-tree:before {
  content: "\e913";
}
.lupicon-building:before {
  content: "\e914";
}
.lupicon-house:before {
  content: "\e915";
}
.lupicon-persons:before {
  content: "\e916";
}
.lupicon-plus:before {
  content: "\e917";
}
.lupicon-quote:before {
  content: "\e918";
}
.lupicon-world:before {
  content: "\e919";
}
.lupicon-building-plus:before {
  content: "\e90b";
}
.lupicon-bookmark:before {
  content: "\e905";
}
.lupicon-facebook:before {
  content: "\e906";
}
.lupicon-google-plus:before {
  content: "\e907";
}
.lupicon-instagram:before {
  content: "\e908";
}
.lupicon-twitter:before {
  content: "\e909";
}
.lupicon-youtube:before {
  content: "\e90a";
}
.lupicon-add-circle:before {
  content: "\e903";
}
.lupicon-location-plus:before {
  content: "\e904";
}
.lupicon-lock:before {
  content: "\e900";
}
.lupicon-megaphone:before {
  content: "\e901";
}
.lupicon-presentation:before {
  content: "\e902";
}
.lupicon-external-link:before {
  content: "\e651";
}
.lupicon-document-list:before {
  content: "\e64f";
}
.lupicon-document:before {
  content: "\e650";
}
.lupicon-circle-dash:before {
  content: "\e64c";
}
.lupicon-tree-path:before {
  content: "\e64d";
}
.lupicon-user-plus:before {
  content: "\e64e";
}
.lupicon-paperclip:before {
  content: "\e649";
}
.lupicon-rotate-left:before {
  content: "\e64a";
}
.lupicon-add-area:before {
  content: "\e63f";
}
.lupicon-add-path:before {
  content: "\e640";
}
.lupicon-add-point:before {
  content: "\e641";
}
.lupicon-arrows:before {
  content: "\e642";
}
.lupicon-file-check:before {
  content: "\e643";
}
.lupicon-layers:before {
  content: "\e644";
}
.lupicon-measure-area:before {
  content: "\e645";
}
.lupicon-measure:before {
  content: "\e646";
}
.lupicon-star:before {
  content: "\e647";
}
.lupicon-zoom-in-area:before {
  content: "\e648";
}
.lupicon-archives:before {
  content: "\e600";
}
.lupicon-calendar:before {
  content: "\e601";
}
.lupicon-check:before {
  content: "\e602";
}
.lupicon-checkbox-off:before {
  content: "\e603";
}
.lupicon-checkbox-on:before {
  content: "\e604";
}
.lupicon-chevron-bottom:before {
  content: "\e605";
}
.lupicon-chevron-down:before {
  content: "\e606";
}
.lupicon-chevron-end:before {
  content: "\e607";
}
.lupicon-chevron-left:before {
  content: "\e608";
}
.lupicon-chevron-right:before {
  content: "\e609";
}
.lupicon-chevron-small-down:before {
  content: "\e60a";
}
.lupicon-chevron-small-left:before {
  content: "\e60b";
}
.lupicon-chevron-small-right:before {
  content: "\e60c";
}
.lupicon-chevron-small-up:before {
  content: "\e60d";
}
.lupicon-chevron-start:before {
  content: "\e60e";
}
.lupicon-chevron-top:before {
  content: "\e60f";
}
.lupicon-chevron-up:before {
  content: "\e610";
}
.lupicon-circle-arrow-down:before {
  content: "\e611";
}
.lupicon-circle-arrow-left:before {
  content: "\e612";
}
.lupicon-circle-arrow-right:before {
  content: "\e613";
}
.lupicon-circle-arrow-up:before {
  content: "\e614";
}
.lupicon-circle-attention:before {
  content: "\e615";
}
.lupicon-circle-check:before {
  content: "\e616";
}
.lupicon-circle-info:before {
  content: "\e617";
}
.lupicon-circle-minus:before {
  content: "\e618";
}
.lupicon-circle-pen:before {
  content: "\e619";
}
.lupicon-circle-plus:before {
  content: "\e61a";
}
.lupicon-circle-question:before {
  content: "\e61b";
}
.lupicon-circle-remove:before {
  content: "\e61c";
}
.lupicon-circle-section-sign:before {
  content: "\e61d";
}
.lupicon-circle-stamp:before {
  content: "\e61e";
}
.lupicon-circle-star:before {
  content: "\e61f";
}
.lupicon-circle:before {
  content: "\e620";
}
.lupicon-clock:before {
  content: "\e621";
}
.lupicon-collapse:before {
  content: "\e622";
}
.lupicon-comment:before {
  content: "\e623";
}
.lupicon-conversation:before {
  content: "\e624";
}
.lupicon-documents:before {
  content: "\e625";
}
.lupicon-download:before {
  content: "\e626";
}
.lupicon-envelope:before {
  content: "\e627";
}
.lupicon-expand:before {
  content: "\e628";
}
.lupicon-eye:before {
  content: "\e629";
}
.lupicon-file:before {
  content: "\e62a";
}
.lupicon-folder:before {
  content: "\e62b";
}
.lupicon-lightbulb:before {
  content: "\e62c";
}
.lupicon-list:before {
  content: "\e62d";
}
.lupicon-location:before {
  content: "\e62e";
}
.lupicon-log-in:before {
  content: "\e62f";
}
.lupicon-log-out:before {
  content: "\e630";
}
.lupicon-menu:before {
  content: "\e631";
}
.lupicon-pen:before {
  content: "\e632";
}
.lupicon-print:before {
  content: "\e633";
}
.lupicon-radio-off:before {
  content: "\e634";
}
.lupicon-radio-on:before {
  content: "\e635";
}
.lupicon-refresh:before {
  content: "\e636";
}
.lupicon-remove:before {
  content: "\e637";
}
.lupicon-save:before {
  content: "\e638";
}
.lupicon-search:before {
  content: "\e639";
}
.lupicon-upload:before {
  content: "\e63a";
}
.lupicon-user:before {
  content: "\e63b";
}
.lupicon-warning:before {
  content: "\e63c";
}
.lupicon-zoom-in:before {
  content: "\e63d";
}
.lupicon-zoom-out:before {
  content: "\e63e";
}
.header-icon {
  margin-right: 3px;
}
nav .nav-wrapper .header-menu {
  margin-top: 2px;
}
.tos-logo {
  display: inline-block;
  float: left;
  line-height: 60px;
  color: white;
  font-size: 13pt;
}
